---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import KeyIcon from '@/assets/icons/key.svg'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' }
]
---

<PageLayout title='Projects' {headings} view>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Mokiia1107'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'Mokiia-website',
        description: "Mokiia's personal webpage",
        links: [{ type: 'github', href: 'https://github.com/Mokiia1107/Mokiia-website' }]
      },
      {
        name: 'Progress-check',
        description: 'Table widget by CoffeeScript',
        links: [{ type: 'github', href: 'https://github.com/Mokiia1107/progress-check' }]
      },
      {
        name: 'recite',
        description: 'Paste markdown-style text, then it will hide bolded content',
        links: [{ type: 'github', href: 'https://github.com/Mokiia1107/recite' }]
      }
    ]}
  />

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'Neuromatch-Academy',
        description: 'Welcome to the Neuromatch computational neuroscience course!',
        links: [
          { type: 'github', href: 'https://github.com/Orthogonal-Research-Lab/Neuromatch-Academy' }
        ]
      },
      {
        name: 'Dive into LLMs',
        description: '《动手学大模型》系列编程实践教程',
        links: [{ type: 'github', href: 'https://github.com/Lordog/dive-into-llms' }]
      },
      {
        name: 'AI Agents for Beginners',
        description: 'This course has lessons covering the fundamentals of building AI Agents.',
        links: [
          { type: 'github', href: 'https://github.com/microsoft/ai-agents-for-beginners' }
        ]
      }
    ]}
  />

</PageLayout>
